@import 'tailwindcss';

body {
  @apply relative bg-(--color-light);
}

@layer utilities {
  .loader {
    @apply relative mt-12 mb-12 flex w-full max-w-[6rem] items-center justify-center;
  }

  .loader::before,
  .loader::after {
    @apply absolute rounded-full;
    content: '';
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
  }

  .loader::before {
    @apply w-full pb-[100%];
    box-shadow: inset 0 0 0 1rem #d1d5db;
    animation-name: pulsIn;
  }

  .loader::after {
    @apply w-[calc(100%-2rem)] pb-[calc(100%-2rem)] shadow-none;
    box-shadow: 0 0 0 0 #d1d5db;
  }

  @keyframes pulsIn {
    0% {
      box-shadow: inset 0 0 0 1rem #d1d5db;
      opacity: 1;
    }

    50%,
    100% {
      box-shadow: inset 0 0 0 0 #d1d5db;
      opacity: 0;
    }
  }

  @keyframes pulsOut {
    0%,
    50% {
      box-shadow: 0 0 0 0 #d1d5db;
      opacity: 0;
    }

    100% {
      box-shadow: 0 0 0 1rem #d1d5db;
      opacity: 1;
    }
  }

  .animate-slide-up {
    animation: slideUp 0.5s ease-out forwards;
  }

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@theme {
  --card-color: #ffffff;
  --card-title-color: #a7adb8;
  --card-description-color: #1d2b3f;
  --color-light: #f7f8fc;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1124px;
}
